<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Table array fun mesh</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3.2.6"></script>
</head>

<body>
  <div id="App">
    <h1>Combine table fragments</h1>
    <p>
      Most sample data is duplicated or unique so no collision/smudge happens.
    </p>
    <ul>
      <li>figure way to preserve order (as the console table does)</li>
      <li>try to revoke fragments (if already added)</li>
      <li>identify collision/smudge</li>
      <li><s>switch to vue3</s></li>
      <li>option to return reactive ref-objects for values</li>
    </ul>

    <b>Load a table fragment: </b>
    <button @mouseover="previewFrag('arr1')" @click="addToDB('arr1')">arr1</button>
    <button @mouseover="previewFrag('arr2')" @click="addToDB('arr2')">arr2</button>
    <button @mouseover="previewFrag('arr3')" @click="addToDB('arr3')">arr3</button>
    <button @mouseover="previewFrag('junk1')" @click="addToDB('junk1')">junk1</button>
    <button @mouseover="previewFrag('junk2')" @click="addToDB('junk2')">junk2</button>
    <textarea>Current fragment {{ outputfrag }}</textarea>
    <table-array class="shrink" :table="outputfrag"></table-array>

    <hr>

    <b>Mesh table: {{ recordsTotal }} records</b>
    <table>
      <tr v-for="row in table">
        <td v-for="cell in row">{{ cell }}</td>
      </tr>
    </table>

    <div class="flex">
      <div>
        <b>Current mesh table:</b>
        <pre>{{ table }}</pre>
      </div>
      <div>
        <b>Current mesh csv:</b>
        <pre>{{ csv }}</pre>
        <b>Current mesh json:</b>
        <pre>{{ json }}</pre>
      </div>
    </div>
  </div>

  <script type="module" src='./App.js'></script>
</body>

</html>
