<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Table array fun mesh</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3.2.6"></script>
</head>

<body>
  <div id="App">
    <h1>Combine table fragments</h1>
    <p>Most sample data is duplicated or unique so little smudge happens.</p>
    <ul>
      <li>figure way to preserve order (as the console table does)</li>
      <li><s>try to revoke fragments (if already added)</s></li>
      <li>identify collision/smudge</li>
      <li><s>switch to vue3</s></li>
      <li>option to return reactive ref-objects for values</li>
    </ul>

    <textarea>Loaded fragment {{ freshFrag }}</textarea>

    <div>
      <p>
        <b>Mesh table: {{ recordsTotal }} records ... </b>
        <button v-if="recordsTotal" class="togbutton">
          <label>Sort columns <input type="checkbox" v-model="sortCols"></label>
        </button>
      </p>
      <table-array :table="table"></table-array>
    </div>

    <div>
      <p>
        <b>Load a table fragment: </b>
        <button v-on="fragActions" name="arr1">arr1</button>
        <button v-on="fragActions" name="arr2">arr2</button>
        <button v-on="fragActions" name="arr3">arr3</button>
        <button v-on="fragActions" name="junk1">junk1</button>
        <button v-on="fragActions" name="junk2">junk2</button>
      </p>
      <div class="shrink">
        <table-array :table="preFrag"></table-array>
        <pre>{{ hintFrag }}</pre>
      </div>
    </div>

    <div>
      <p>
        <b>Wash a table fragment: </b>
        <button v-on="fragWash" name="arr1">arr1</button>
        <button v-on="fragWash" name="arr2">arr2</button>
        <button v-on="fragWash" name="arr3">arr3</button>
        <button v-on="fragWash" name="junk1">junk1</button>
        <button v-on="fragWash" name="junk2">junk2</button>
      </p>
    </div>

    <section class="flex">
      <div>
        <b>Current mesh table:</b>
        <pre>{{ table }}</pre>
      </div>
      <div>
        <b>Current mesh csv:</b>
        <pre>{{ csv }}</pre>
        <b>Current mesh json:</b>
        <pre>{{ json }}</pre>
      </div>
    </section>
  </div>

  <script type="module" src='./App.js'></script>
</body>

</html>
