<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Table array fun mesh</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="App">
    <h1>Combine table fragments</h1>
    <p>
      Most sample data is duplicated or unique so no collision/smudge happens.
    </p>
    <ul>
      <li>figure way to preserve order (as the console table does)</li>
      <li>try to revoke fragments (if already added)</li>
      <li>identify collision/smudge</li>
    </ul>

    <b>Load a data fragment:</b>
    <button @click="addToDB(arr1)">arr1</button>
    <button @click="addToDB(arr2)">arr2</button>
    <button @click="addToDB(arr3)">arr3</button>
    <button @click="addToDB(junk1)">junk1</button>
    <button @click="addToDB(junk2)">junk2</button>
    <textarea>Current fragment {{ outputfrag }}</textarea>
    <hr>

    <b>Mesh table:</b>
    <table>
      <tr v-for="row in table">
        <td v-for="cell in row">{{ cell }}</td>
      </tr>
    </table>

    <div class="flex">
      <div>
        <b>Current mesh table:</b>
        <pre>{{ table }}</pre>
      </div>
      <div>
        <b>Current mesh csv:</b>
        <pre>{{ csv }}</pre>
        <b>Current mesh json:</b>
        <pre>{{ json }}</pre>
      </div>
    </div>
  </div>

  <script type="module" src='./App.js'></script>
</body>

</html>
