table {
  border-collapse: collapse;
  font-family: sans-serif;
  width: 100%;
}

td {
  border: 1px solid black;
  padding: 0.2rem 0.4rem;
}

tbody *:first-child {
  font-weight: 800;
}
textarea {
  height: 11rem;
  opacity: 0.8;
  position: absolute;
  resize: vertical;
  right: 1rem;
  top: 1rem;
  width: 7rem;
}

.flex {
  display: flex;

  div {
    border: 1px solid silver;
    padding: 1em;
  }
}
